:root {
    font-family: 'Roboto';
    --first-background-color: ;
    --second-background-color: ;
    --main-color: ;
    --seconary-color: ;
    --third-color: ;
    --fouth-color: ;
    --fifth-color: ;
   

}

body {
    /* primary color text #2E2F42;
    secondary color text #434455;
    white #ffffff;
    accent #4D5AE5; 
    color fogo futer #F4F4FD;
    color text footer #E7E9FC;
    background color team #F4F4FD;
   */
       
}

/* .header {
} */
.container {
    width: 1440;
    margin: 0 auto;
}

.secondary-container {
    width: 1128;
        margin: 0 auto;
}
.third-container {

}

.fourth-container {

}


.header {
    background-color: #FFFFFF;
}

.header-container {
   display: flex;
   align-items: center;
} 
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo, .footer-logo {
    margin-left: 156px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-logo-text {
      font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;

}
.header-list {
    margin-left: 77px;
    gap: 40px;
    display: flex;
}
.header-list-item {
   
}
.header-item-link {
    display: block;
   padding-top: 24px;
   padding-bottom: 24px;
}
.header-auth {
    margin-left: 331px;
    gap: 40px;
    display:flex
        
}
.header-auth-item {
    

    
}
.header-auth-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
} 

.hero {
    background-color: #2E2F42;
}

.hero-title {
    margin: auto;
    width: 492px;
    padding-top: 192px;
    font-weight: 600;
        font-size: 56px;
        line-height: 60px;
       text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    
}

.hero-btn {
       padding: 32px 16px;
        margin-top: 48px;
        margin-bottom: 192px;
        margin-left: 635px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.04em;
       
        color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: #4D5AE5;
        border-radius: 4px;
}
.direction {
    
    margin-left: 156px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FFFFFF;

}

.direction-title {
    display: none;
    font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      letter-spacing: 0.02em;
       color: #2E2F42;
}

.direction-list {
   display: flex;
   align-items: center; 
   gap: 24px;
}

.direction-list-item {
    
    width: 264px;
}

.item-title {
    font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
    color: #2E2F42;
}

.item-title-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}



.doing-title {
    padding-bottom: 112px;
    font-weight: 600;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42
}

.doing-list {
    margin-left: 156px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}



.team-title {
    
    padding-top: 72px;
    font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.team-list {
    padding-top: 72px;
    margin-left: 156px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-list-item-wrap {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        background-color: #FFFFFF;
}

.team-list-item-title {
    padding-top: 32px;
font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
color: #2E2F42;
}

.team-list-item-text {
    padding-top: 8px;
    padding-bottom: 32px;
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    background-color: #2E2F42;
}
.footer-logo {
    margin-left: 156px;
    padding-top: 100px;
}

.footer-logo-text {
font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: #F4F4FD;
}

.footer-text {
   margin-left: 156px;
   padding-top: 16px;
   padding-bottom: 100px;

        width: 264px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        display: flex;
    color: #E7E9FC;
}
/* filter */

.filter {}

.filter-title, .library-title {
    display: none;
}

.filter-list {
    margin-left: 427px;
    padding-top: 96px;
    padding-bottom: 72px;
    display: flex;
    gap: 24px;   
}

.filter-list-item {}

.filter-list-item-btn {
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
}

/* library */

.library {}



.library-list {
    display: flex;
    gap: 24px;

}

.library-item {}

.library-item-link {
    
}

.library-item-text {
    padding-left: 32px;
    padding-top: 40px;
    width: 296px;
}

.library-item-type {
    margin-left: 16px;
}

.library-item-category {
    margin-left: 16px;
}

.portfolio-item {}























































ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.logo {
color: #4D5AE5;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-type {
    color: #2E2F42;
}
/* site nav */



.navy-list {
     list-style:none;
}

.navy-item .auth-item {
  color: #2E2F42;
}

.navy-about {
    color: #434455;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}
.navy {
background-color: #FFFFFF;
position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;
}


.button-item {
    color: #2E2F42;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}

.button-item:hover {
    color: #434455;
}

.button-item:focus {

}

.button-item:active {
    color: #4D5AE5;
    
}