:root {
    font-family: 'Roboto';
   

}

body {
    /* primary color text #2E2F42;
    secondary color text #434455;
    white #ffffff;
    accent #4D5AE5; 
    color fogo futer #F4F4FD;
    color text footer #E7E9FC;
    background color team #F4F4FD;
   */
       
}

/* .header {
} */
.container {
    width: 1440;
    margin: 0 auto;
}

/* header    width: 1128px;
    margin: 0 auto;*/ 

.header {
    background-color: #FFFFFF;
}

.header-container {
   display: flex;
   align-items: center;
} 
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-left: 156px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-logo-text {
      font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;

}
.header-list {
    margin-left: 77px;
    gap: 40px;
    display: flex;
}
.header-list-item {
   
}
.header-item-link {
    display: block;
   padding-top: 24px;
   padding-bottom: 24px;
}
.header-auth {
    margin-left: 331px;
    gap: 40px;
    display:flex
        
}
.header-auth-item {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;

    
}
.header-auth-item-link {
    
} 






























































ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.logo {
color: #4D5AE5;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-type {
    color: #2E2F42;
}
/* site nav */



.navy-list {
     list-style:none;
}

.navy-item .auth-item {
  color: #2E2F42;
}

.navy-about {
    color: #434455;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}
.navy {
background-color: #FFFFFF;
position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;
}


.button-item {
    color: #2E2F42;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}

.button-item:hover {
    color: #434455;
}

.button-item:focus {

}

.button-item:active {
    color: #4D5AE5;
    
}